
Biblio.xcodeproj/project.xcworkspace/contents.xcworkspacedata

Biblio.xcodeproj/project.xcworkspace/xcshareddata/Biblio.xccheckout

Biblio.xcodeproj/project.xcworkspace/xcuserdata/florence.xcuserdatad/UserInterfaceState.xcuserstate
